@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(blue, yellow);
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter {
  font-size: 69px;
  font-weight: normal;
  color: red;
  background-image: radial-gradient(red, yellow, green);
  text-decoration: line-through;
  text-transform: none;
  font-family: 'Playfair Display', sans-serif;
}

.didILetter {
  font-family: 'Manufacturing Consent', system-ui;
  font-weight: 400;
  font-size: 90px;
  color: black;
  background-color: orange;
  text-transform: uppercase; 
}

.didDTwoLetter {
  font-family: 'Manufacturing Consent', system-ui;
  font-size: 5px;
  font-weight: 400;
  color: blue;
  background-image: linear-gradient(to right, red, gold);
  text-decoration: underline;
}

/* THE word */

.theTLetter {
  font-family: 'Bitcount Grid Double', system-ui;
  font-size: 31px;
  font-weight:900;
  color: rgb(13, 110, 117);
  background-color:rgb(54, 54, 54);
  text-transform: lowercase;
  text-decoration-line: overline; 
}

.theHLetter {
  font-family:'Manufacturing Consent', system-ui;
  font-size: 17px;
  font-weight: 400;
  color:hsl(100, 100%, 25%);
  background-color: hsl(105, 50%, 15%);
  text-transform: capitalize;
  text-decoration-color: aqua;
  text-decoration-line: overline;
  text-decoration-thickness: 4rem;
}

.theELetter {
  font-family: "Playwrite HU";
  font-size: 18px;
  font-weight: bold;
  color: hsl(200, 100%, 25%);
  text-shadow: red, 20px, 15px;
  text-decoration: none;
  text-transform: capitalize;
}

/* FRONT-END word */

.frontendFLetter {
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight: lighter;
  color: tomato;
  text-decoration: wavy, green;
  text-transform: none;
  background-color: yellow;
}

.frontendRLetter {
  font-family: "Ceviche One";
  font-size: 19px;
  font-weight: 400;
  color: hotpink;
  text-decoration: overline, fuchsia, 5px;
  text-transform: capitalize;
  background-image: linear-gradient(red, yellow);
}

.frontendOLetter {
  font-family: "Raleway Dots", serif;
  font-weight: 400;
  font-size: 25px;
  color: rgb(200, 150, 30);
  text-decoration: double wavy overline;
  text-transform: lowercase;
  background-image: linear-gradient(to top, black, white);
}

.frontendNLetter {
  font-family: serif;
  font-size: 1px;
  font-weight: bold;
  color: white;
  text-decoration: line-through 0.5px;
  text-transform: none;
  background-image: linear-gradient(72deg, darkgoldenrod, indigo);
}

.frontendTLetter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 29px;
  font-weight: normal;
  color: hsl(191, 60%, 65%);
  text-decoration: underline;
  text-transform: capitalize;
  background-color: darkorange;
}

.frontendELetter {
  font-family:'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;
  color:black;
  text-decoration: underline green wavy;
  text-transform: capitalize;
  background-color: yellow;
}

.frontendNTwoLetter {
  font-family: "Playwrite HU";
  font-size: 30px;
  font-weight: normal;
  color: purple;
  text-decoration: line-through;
  text-transform: normal;
  background-color: black;
}

.frontendDLetter {
  font-family: "Bitcount Grid Double";
  font-size: 41px;
  font-weight: bold;
  color: green;
  text-decoration: overline wavy red 10px;
  text-transform: lowercase;
  background-color: gray;
}

/* DEVELOPER word */

.developerDLetter {
  font-family: Piazzola;
  font-size: 11px;
  font-weight: normal;
  color: hsl(131, 100%, 73%);
  text-decoration: none;
  background-image: linear-gradient(to left, black, purple);
}
.developerELetter {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: pink;
  text-decoration: underline wavy pink;
  background-color: fuchsia;
}
.developerVLetter {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 26px;
  font-weight: 500;
  color: brown;
  text-decoration: line-through red;
  background-image: radial-gradient(blue, white, yellow);
}
.developerETwoLetter {
  font-family:'Times New Roman', Times, serif;
  font-size: 49px;
  font-weight: bold;
  color: hsl(154, 80%, 75%);
  text-decoration: none;
  background-color: gray;
}
.developerLLetter {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: black;
  text-decoration: overline black 0.25rem solid;
  background-color: hsl(20, 0%, 100%);
}
.developerOLetter {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: line-through solid 1 rem rgba(216, 10, 10, 0.3);
  background-color: rgba(216, 10, 10);
}
.developerPLetter {
  font-family: "Manufacturing Consent";
  font-size: 14px;
  font-weight: 400;
  color: paleturquoise;
  text-decoration: underline dotted blue;
  background-image: radial-gradient(red, blue, yellow, black);
}
.developerEThreeLetter {
  font: 400 30px/2 "Manufacturing Consent";
  color: tomato;
  text-decoration: none;
  background-image: linear-gradient(green, orange);
}
.developerRLetter {
  font: 900 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:hsl(300, 58%, 48%);
  text-decoration: underline dotted white;
  background-image: radial-gradient(black, white, black, white, black, white, black, white, black, white);
}

/* TAKE word */

.takeTLetter {
  font: italic 400 18px/1 sans-serif;
  color:rgb(140, 150, 11);
  background-image: linear-gradient( 45deg, rgb(14, 141, 14), white);
}
.takeALetter {
  font: normal 400 35px "Manufacturing Consent";
  color: black;
  background-color: aqua;
}
.takeKLetter {
  font: italic 400 40px "Bitcount Grid Double";
  text-decoration: overline dotted gold;
  color: silver;
  background-color: black;
}
.takeELetter {
  font: normal 400 60px "Bitcount Grid Double";
  text-decoration: underline wavy red;
  color: rgb(255, 99, 71);
  background-color: pink;
}

/* UP word */

.upULetter {
  font: normal 400 80px "Raleway Dots", serif;
  color:hsl(236, 93%, 28%);
  background-image: radial-gradient(gold, white, gold);
}
.upPLetter {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 69px;
  font-weight: 100;
  text-decoration: underline dotted 20px;
  color: white;
  background-image: radial-gradient(red, green, blue, orange, purple, yellow);
}

/* GARDENING word */

.gardeningGLetter {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 53px;
  font-weight: 400;
  color: midnightblue;
  background-color: teal;
  text-decoration: none;
}
.gardeningALetter {
  font-family:'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 300;
  color: brown;
  background-image: linear-gradient(80deg, black, red 20%, white, red 80%, black);
}
.gardeningRLetter {
  font: 80px "Manufacturing Consent";
  text-shadow: 0.2em 0.2em black 5;
  color: white;
  background-image: linear-gradient(to right, midnightblue, black 30%, gold 45%, black 50%, gold 55%, black 70%, midnightblue);
}
.gardeningDLetter {
  font-family: fantasy;
  font-size: 67px;
  font-weight: 400;
  color: orangered;
  background-color: hsla(0, 66%, 22%, 0.842);
}
.gardeningELetter {
  font-family: "Ceviche One";
  font-size: 35px;
  font-weight: 400;
  color: black;
  text-decoration: overline wavy hsl(120, 79%, 20%);
  background-image: radial-gradient(rgb(60, 60, 141), hwb(0 17% 17%));
}
.gardeningNLetter {
  font-family: "Ceviche One";
  font-size: 45px;
  font-weight: 400;
  color: hsl(212, 80%, 50%);
  text-decoration: overline underline solid pink;
  background-color: aliceblue;
}
.gardeningILetter {
  font-family: "Ceviche One";
  font-size: 48px;
  font-weight: 400;
  color: white;
  text-decoration: overline dashed red;
  background-color: white;
}
.gardeningNTwoLetter {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  background-image: radial-gradient(blue, red);
}
.gardeningGTwoLetter {
  font-family: 'Courier New', Courier, monospace;
  font-size: 51px;
  font-weight: 400;
  color: orangered;
  text-decoration: none;
  background-image: linear-gradient(148deg, brown, red, brown, yellow, brown);
}

.question-mark {
  font: 400 56px monospace;
  color: rgb(21, 70, 27);
  background-image: radial-gradient(rgb(24, 41, 78), rgb(168, 154, 90), rgb(89, 38, 122));

}
/* BECAUSE word */

.becauseBLetter {
  font: 300 55px sans-serif;
  color: rgb(15, 144, 250);
  background-image: radial-gradient(rgb(24, 34, 56), rgb(23, 155, 5), rgb(148, 23, 188));
}
.becauseELetter {
  font: 400 34px 'Raleway Dots';
  color: rgb(221, 224, 9);
  background-image: radial-gradient(rgb(12, 65, 180), rgb(206, 201, 201), rgb(253, 114, 1));

}
.becauseCLetter {
font: 100px 'Raleway Dots';
  color: hsl(212, 69%, 41%);
  background-image: linear-gradient(89deg, orange 20%, green 59%, orange 4%, green 15%, orange 2%)
}
.becauseALetter {
  font: 95px "Manufacturing Consent";
  color: hsl(165, 68%, 32%);
  background-image: linear-gradient(pink, rgb(116, 230, 116));
}
.becauseULetter {
  font: 78px "Manufacturing Consent";
  color: hsl(78, 90%, 50%);
  background-image: linear-gradient(90deg, rgb(70, 75, 4), rgb(87, 0, 87));
}
.becauseSLetter {
  font: 50px "Manufacturing Consent";
  color: hsl(199, 61%, 30%);
  background-image: linear-gradient(90deg, pink, rgb(70, 75, 4), rgb(87, 0, 87), rgb(116, 230, 116));
}
.becauseETwoLetter {
  font: 95px "Manufacturing Consent";
  color: hsl(165, 68%, 32%);
  background-image: radial-gradient(pink, rgb(70, 75, 4), rgb(87, 0, 87), rgb(116, 230, 116));
}

/* THEY word */

.theyTLetter {
  font: 25px "Manufacturing Consent";
  color: white;
  background-image: radial-gradient(black, teal, black, rgb(87, 0, 87), black, teal, black);
}
.theyHLetter {
  font-size: 80px;
  font-family: "Manufacturing Consent";
  color: blue;
  background-image: linear-gradient(45deg, yellow, 20%, rgb(89, 89, 212));
}
.theyELetter {
  font-size: 120px;
  font-family: "Manufacturing Consent";
  color: black;
  background-image: radial-gradient(white, red, 60%, white);
}
.theyYLetter {
  font-size: 3rem;
  font-family: "Manufacturing Consent";
  color: white;
  background-image: linear-gradient(to top left, red, blue, green)
}

/* WANTED word */

.wantedWLetter {
font-size: 4rem;
font-family: "Manufacturing Consent";
color: white;
background-image: radial-gradient(black, red, black, blue, black, green, black);
}
.wantedALetter {
font-size: 60px;
font-family: "Manufacturing Consent";
color: aqua;
background-image: linear-gradient(to bottom, rgb(100, 200, 100), white, black, white, rgb(99, 209, 99));
}
.wantedNLetter {
  font-size: 99px;
  font-family: "Manufacturing Consent";
  color: red;
  background-image: radial-gradient(rgb(150, 200, 150), white, black, rgb(200, 200, 200), black);
}
.wantedTLetter {
  font-size: 70px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(116, 0, 0);
  background-image: radial-gradient(black, white, black, white, black, white, black, white, black, white, black, white, black, white, black, white);
}
.wantedELetter {
  font-size: 89px;
  font-family: "Manufacturing Consent";
  color: rgb(25, 100, 25);
  background-image: linear-gradient(to bottom, green, rgb(50, 50, 100));
}
.wantedDLetter {
  font-size: 73px;
  font-family: "Manufacturing Consent";
  color: gold;
  background-image: linear-gradient(275deg, rgb(245, 116, 116), rgb(128, 35, 35), rgb(59, 9, 9), black);
}

/* TO word */

.toTLetter {
  font-size: 99px;
  font-family: "Manufactured Consent";
  color: white;
  background-image: linear-gradient(green, violet, yellow);
}
.toOLetter {
  font-size: 88px;
  font-family: "Manufactured Consent";
  color: black;
  background-image: linear-gradient(180deg, red, 20%, orange, 40%, white, 60%, rgb(192, 110, 124), 80%, rgb(68, 13, 44));
}

/* IMPROVE word */

.improveILetter {
  font-size: 339px;
  font-family: "Manufactured Consent";
  color: orange;
  background-image: radial-gradient(purple, rgb(65, 133, 112));
}
.improveMLetter {
  font-size: 85px;
  font-family: "Manufactured Consent";
  color: blue;
  background-image: linear-gradient(orange, rgb(179, 135, 54), hsl(40, 21%, 25%));
}
.improvePLetter {
  font-size: 40px;
  font-family: "Manufactured Consent";
  color: red;
  background-image: radial-gradient(black, blue, red);
}
.improveRLetter {
  font-size: 89px;
  font-family: "Manufactured Consent";
  color: black;
  background-image: radial-gradient(rgb(204, 204, 4), rgb(37, 97, 37));
}
.improveOLetter {
  font-size: 50px;
  font-family: "Manufactured Consent";
  color: silver;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 151), silver, white, silver, rgb(0, 0, 158))
}
.improveVLetter {
  font-size: 28px;
  font-family: "Manufactured Consent";
  color: white;
  background-image: radial-gradient(red, yellow, red, orange, red, yellow, red, 50%, black);
}
.improveELetter {
  font-size: 19px;
  font-family: "Manufactured Consent";
  color: black;
  background-image: linear-gradient(45deg, black, 30%, pink, white, pink, white, pink, white, pink, 70%, black);
}

/* THEIR word */

.theirTLetter {
  font-size: 89px;
  font-family: "Manufactured Consent";
  color: gray;
  background-image: radial-gradient(black, 50%, green, white, black, white, green, 90%, black);
}
.theirHLetter {
  font-size: 72px;
  font-family: "Manufactured Consent";
  color: violet;
  background-image: radial-gradient(white, 25%, pink, chartreuse, yellow, gold, chartreuse, pink, 70%, white);
}
.theirELetter {
  font-size: 60px;
  font-family: "Manufactured Consent";
  color: tomato;
  background-image: linear-gradient(to right, black, gray, silver, red, brown, 40%, white, 60%, brown, red, silver, gray, black);
}
.theirILetter {
  font-size: 50px;
  font-family: "Manufactured Consent";
  color: blue;
  background-image: linear-gradient(80deg, black, white, red, white, blue, white, yellow, white, black);
}
.theirRLetter {
  font-size: 90px;
  font-family: "Manufactured Consent";
  color: black;
  background-image: radial-gradient(black, red, black, orange, black, yellow, white, 60%, black);
}

/* ROOT word */

.rootRLetter {
}
.rootOLetter {
}
.rootOTwoLetter {
}
.rootTLetter {
}

/* SKILLS word */

.skillsSLetter {
}
.skillsKLetter {
}
.skillsILetter {
}
.skillsLLetter {
}
.skillsLTwoLetter {
}
.skillsSTwoLetter {
}

/* SYMBOLS */

.hyphen {
}
.exclamation-mark {
}
.question-mark {
}
